<h1>Marking!</h1>
<dl>
<dt>ページタイトル</dt><dd><%= @reftitle_d %></dd>
<dt>URL</dt><dd><%= @refurl_d %></dd>
</dl>

<div>Marking<img src="/img/stamp<%= @stamp  %>.png" width="40" alt="stamp<%= @stamp %>" /></div>
